certifi==2022.6.15
colorama==0.4.6
distlib==0.3.5
exceptiongroup==1.2.0
filelock==3.7.1
iniconfig==2.0.0
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pipenv==2022.7.24
platformdirs==2.5.2
pluggy==1.4.0
pytest==8.0.0
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
tzdata==2023.4
virtualenv==20.16.0
virtualenv-clone==0.5.7
Python==3.10.7
